= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  =f.inputs :name => "User Details:" do
    =f.input :name, :required => true, :input_html => {:class => 'input-xlarge'}
    =f.input :email, :required => true, :input_html => {:class => 'input-xlarge'}
    =f.input :location,
      :placeholder => 'Any approximation will work',
      :input_html => {:class => 'input-xlarge'}
    =f.input :password, :required => true, 
      :placeholder => 'Leave this blank if you don\'t want to change',
      :input_html => {:class => 'input-xlarge', :autocomplete => 'off'}
    =f.input :password_confirmation, :required => true, 
      :placeholder => 'Leave this blank if you don\'t want to change',
      :input_html => {:class => 'input-xlarge', :autocomplete => 'off'}
  =f.inputs :name => "To help us fight SPAM, solve the captcha:" do
    =recaptcha_tags
  =f.buttons do
    =f.commit_button 'Sign-up!',
      :button_html => {:class => 'btn-primary btn-large'}
= render "links"
