%hr.long-hr
%p=t '.heading_count_teaser', :count => @purchases_count

=render 'purchase_listing_table', 
  :purchases => @purchases, 
  :columns => [:item, :purchaser, :quantity_purchased, :total_price],
  :actions => [:mark_fulfilled]

=render 'mark_fulfilled_modal'
