%hr.long-hr
:markdown
  CoinPost is a small, but growing company with the primary goal of facilitating 
  the use of bitcoins for everyday transactions. 
  
  We've got big plans, and a supportive community. So check back on us often for 
  new features and announcements.

  If you have a news or media request, feel free to email us at 
  [info@coinpost.com](mailto:info@coinpost.com) with details on what you're 
  looking for.

  If you're having a problem on the site, or wish to report an issue, you should 
  receive the quickest response by using the contact form on the [Need Help?](/help)
  section of our website. 
