%hr.long-hr
%p 
  There are many ways to get bitcoins into a wallet for use with merchants on 
  our site. Depending on where your money is currently located. If you have US 
  Dollars...

#get-coins
  %div.clearfix
    %h3 Do you have cash in your pocket?
    %p.pull-left.span5
      We recommend using BitInstant to transfer Cash from a local bank (Chase, 
      Bank of America, Wells Fargo) into an MtGox account. Create an account on the 
      MtGox website for more details.
    %p.pull-right.span4
      =image_tag '/images/bitinstant.png', :size => '207x53', :alt => 'bitinstant'

  %div.clearfix
    %h3 Would you like to buy coins with your credit or debit card?
    %p.pull-left.span5 
      We recommend using the VirWox exchange to transfer cash from your credit card
      into bitcoins. Create an account on the VirWox website for more details.
    %p.pull-right.span4
      =image_tag '/images/virwox.png', :alt => 'Virtual World Exchange', :size => '200x59'

  %div.clearfix
    %h3 Would you like to transfer money right out of your bank account?
    %p.pull-left.span5 
      We reccomend a wire transfer from your bank account, into your MtGox account.
      Create an account on the MtGox website for more details.
    %p.pull-right.span4
      =image_tag '/images/mtgox.png', :size => '150x70', :alt => 'MtGox'

  %div.clearfix
    %h3 Would you like to buy coins using a Paypal 
    %p
      We recommend using the VirWox exchange to transfer cash from your PayPal (or 
      MoneyBookers/Skrill) into a bitcoin wallet. Create an account on the VirWox 
      website for more details.
  
  %div.clearfix
    %h3 Do you have money that's not in US Dollars?
    %p
      There are plenty of exchange providerse servicing most of the world's currencies, 
      take a look at the 
      =link_to 'Bitcoin Wiki', 'https://en.bitcoin.it/wiki/Buying_bitcoins'
      to find 
