// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #eca525;
$lightGrey: #eee;
$darkGrey: #333;
$medGrey: #999;

body#home{
  .short_textfield{ height: 100px }
  background: url('/images/home-background.png') repeat-x;
  #main-content{
    .span9{
      border-left: 1px solid #eee;
    }
    h3 a{ color: #000000; }
  }
  section{
    .span3{
      #categories_block{
        color: $orange;
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
    #main-content.container .span9 .row-fluid .span6 {
      border-bottom: 1px solid #EEEEEE;
      margin: 0 20px;
      padding: 0 0 10px;
      width: 300px;
    }
  }
}
