%table(width="100%" border="0" cellspacing="0" cellpadding="0")
  %tr
    %td
      %table{:bgcolor=>fade_color, :width=>"100%", :border=>"0", :cellspacing=>"10", :cellpadding=>"0"}
        %tr
          %td
            %table{:bgcolor=>fg_color, :width=>"100%", :border=>"0", :cellspacing=>"1", :cellpadding=>"0"}
              %tr
                %td
                  %table(bgcolor="#ffffff" width="100%" border="0" cellspacing="0" cellpadding="20")
                    %tr
                      %td(style="font-family:'Trebuchet MS'; font-size:14px; line-height:18px;")
                        =yield
